=begin
#CLOUD API

#IONOS Enterprise-grade Infrastructure as a Service (IaaS) solutions can be managed through the Cloud API, in addition or as an alternative to the \"Data Center Designer\" (DCD) browser-based tool.    Both methods employ consistent concepts and features, deliver similar power and flexibility, and can be used to perform a multitude of management tasks, including adding servers, volumes, configuring networks, and so on.

The version of the OpenAPI document: 6.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.2.1-SNAPSHOT

=end

require 'cgi'

module Ionoscloud
  class NATGatewaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete NAT Gateways
    # Remove the specified NAT Gateway from the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [nil]
    def datacenters_natgateways_delete(datacenter_id, nat_gateway_id, opts = {})
      datacenters_natgateways_delete_with_http_info(datacenter_id, nat_gateway_id, opts)
      nil
    end

    # Delete NAT Gateways
    # Remove the specified NAT Gateway from the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def datacenters_natgateways_delete_with_http_info(datacenter_id, nat_gateway_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_delete ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_delete"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_delete"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_delete, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_delete, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve NAT Gateways
    # Retrieve the properties of the specified NAT Gateway within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGateway]
    def datacenters_natgateways_find_by_nat_gateway_id(datacenter_id, nat_gateway_id, opts = {})
      data, _status_code, _headers = datacenters_natgateways_find_by_nat_gateway_id_with_http_info(datacenter_id, nat_gateway_id, opts)
      data
    end

    # Retrieve NAT Gateways
    # Retrieve the properties of the specified NAT Gateway within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGateway, Integer, Hash)>] NatGateway data, response status code and response headers
    def datacenters_natgateways_find_by_nat_gateway_id_with_http_info(datacenter_id, nat_gateway_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_find_by_nat_gateway_id ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_find_by_nat_gateway_id"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_find_by_nat_gateway_id"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_find_by_nat_gateway_id, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_find_by_nat_gateway_id, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NatGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_find_by_nat_gateway_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_find_by_nat_gateway_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NAT Gateway Flow Logs
    # Delete the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @return [nil]
    def datacenters_natgateways_flowlogs_delete(datacenter_id, nat_gateway_id, flow_log_id, opts = {})
      datacenters_natgateways_flowlogs_delete_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, opts)
      nil
    end

    # Delete NAT Gateway Flow Logs
    # Delete the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def datacenters_natgateways_flowlogs_delete_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_flowlogs_delete ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_delete"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_delete"
      end
      # verify the required parameter 'flow_log_id' is set
      if @api_client.config.client_side_validation && flow_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_log_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_delete"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_delete, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_delete, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/flowlogs/{flowLogId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s)).sub('{' + 'flowLogId' + '}', CGI.escape(flow_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_flowlogs_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_flowlogs_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve NAT Gateway Flow Logs
    # Retrieve the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @return [FlowLog]
    def datacenters_natgateways_flowlogs_find_by_flow_log_id(datacenter_id, nat_gateway_id, flow_log_id, opts = {})
      data, _status_code, _headers = datacenters_natgateways_flowlogs_find_by_flow_log_id_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, opts)
      data
    end

    # Retrieve NAT Gateway Flow Logs
    # Retrieve the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @return [Array<(FlowLog, Integer, Hash)>] FlowLog data, response status code and response headers
    def datacenters_natgateways_flowlogs_find_by_flow_log_id_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_flowlogs_find_by_flow_log_id ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_find_by_flow_log_id"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_find_by_flow_log_id"
      end
      # verify the required parameter 'flow_log_id' is set
      if @api_client.config.client_side_validation && flow_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_log_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_find_by_flow_log_id"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_find_by_flow_log_id, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_find_by_flow_log_id, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/flowlogs/{flowLogId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s)).sub('{' + 'flowLogId' + '}', CGI.escape(flow_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlowLog'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_flowlogs_find_by_flow_log_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_flowlogs_find_by_flow_log_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NAT Gateway Flow Logs
    # List all the Flow Logs for the specified NAT Gateway.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :offset The first element (from the complete list of the elements) to include in the response (used together with &lt;b&gt;&lt;i&gt;limit&lt;/i&gt;&lt;/b&gt; for pagination). (default to 0)
    # @option opts [Integer] :limit The maximum number of elements to return (use together with offset for pagination). (default to 1000)
    # @return [FlowLogs]
    def datacenters_natgateways_flowlogs_get(datacenter_id, nat_gateway_id, opts = {})
      data, _status_code, _headers = datacenters_natgateways_flowlogs_get_with_http_info(datacenter_id, nat_gateway_id, opts)
      data
    end

    # List NAT Gateway Flow Logs
    # List all the Flow Logs for the specified NAT Gateway.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :offset The first element (from the complete list of the elements) to include in the response (used together with &lt;b&gt;&lt;i&gt;limit&lt;/i&gt;&lt;/b&gt; for pagination).
    # @option opts [Integer] :limit The maximum number of elements to return (use together with offset for pagination).
    # @return [Array<(FlowLogs, Integer, Hash)>] FlowLogs data, response status code and response headers
    def datacenters_natgateways_flowlogs_get_with_http_info(datacenter_id, nat_gateway_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_flowlogs_get ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_get"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_get"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_get, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 10000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_get, must be smaller than or equal to 10000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/flowlogs'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlowLogs'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_flowlogs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_flowlogs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially modify NAT Gateway Flow Logs
    # Update the properties of the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param nat_gateway_flow_log_properties [FlowLogProperties] The properties of the Flow Log to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @return [FlowLog]
    def datacenters_natgateways_flowlogs_patch(datacenter_id, nat_gateway_id, flow_log_id, nat_gateway_flow_log_properties, opts = {})
      data, _status_code, _headers = datacenters_natgateways_flowlogs_patch_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, nat_gateway_flow_log_properties, opts)
      data
    end

    # Partially modify NAT Gateway Flow Logs
    # Update the properties of the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param nat_gateway_flow_log_properties [FlowLogProperties] The properties of the Flow Log to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @return [Array<(FlowLog, Integer, Hash)>] FlowLog data, response status code and response headers
    def datacenters_natgateways_flowlogs_patch_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, nat_gateway_flow_log_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_flowlogs_patch ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_patch"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_patch"
      end
      # verify the required parameter 'flow_log_id' is set
      if @api_client.config.client_side_validation && flow_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_log_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_patch"
      end
      # verify the required parameter 'nat_gateway_flow_log_properties' is set
      if @api_client.config.client_side_validation && nat_gateway_flow_log_properties.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_flow_log_properties' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_patch"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_patch, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_patch, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/flowlogs/{flowLogId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s)).sub('{' + 'flowLogId' + '}', CGI.escape(flow_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nat_gateway_flow_log_properties)

      # return_type
      return_type = opts[:debug_return_type] || 'FlowLog'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_flowlogs_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_flowlogs_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create NAT Gateway Flow Logs
    # Add a new Flow Log for the specified NAT Gateway.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_flow_log [FlowLog] The Flow Log to create.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @return [FlowLog]
    def datacenters_natgateways_flowlogs_post(datacenter_id, nat_gateway_id, nat_gateway_flow_log, opts = {})
      data, _status_code, _headers = datacenters_natgateways_flowlogs_post_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_flow_log, opts)
      data
    end

    # Create NAT Gateway Flow Logs
    # Add a new Flow Log for the specified NAT Gateway.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_flow_log [FlowLog] The Flow Log to create.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @return [Array<(FlowLog, Integer, Hash)>] FlowLog data, response status code and response headers
    def datacenters_natgateways_flowlogs_post_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_flow_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_flowlogs_post ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_post"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_post"
      end
      # verify the required parameter 'nat_gateway_flow_log' is set
      if @api_client.config.client_side_validation && nat_gateway_flow_log.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_flow_log' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_post"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_post, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_post, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/flowlogs'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nat_gateway_flow_log)

      # return_type
      return_type = opts[:debug_return_type] || 'FlowLog'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_flowlogs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_flowlogs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modify NAT Gateway Flow Logs
    # Modify the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param nat_gateway_flow_log [FlowLogPut] The modified NAT Gateway Flow Log.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @return [FlowLog]
    def datacenters_natgateways_flowlogs_put(datacenter_id, nat_gateway_id, flow_log_id, nat_gateway_flow_log, opts = {})
      data, _status_code, _headers = datacenters_natgateways_flowlogs_put_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, nat_gateway_flow_log, opts)
      data
    end

    # Modify NAT Gateway Flow Logs
    # Modify the specified NAT Gateway Flow Log.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param flow_log_id [String] The unique ID of the Flow Log.
    # @param nat_gateway_flow_log [FlowLogPut] The modified NAT Gateway Flow Log.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @return [Array<(FlowLog, Integer, Hash)>] FlowLog data, response status code and response headers
    def datacenters_natgateways_flowlogs_put_with_http_info(datacenter_id, nat_gateway_id, flow_log_id, nat_gateway_flow_log, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_flowlogs_put ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_put"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_put"
      end
      # verify the required parameter 'flow_log_id' is set
      if @api_client.config.client_side_validation && flow_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_log_id' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_put"
      end
      # verify the required parameter 'nat_gateway_flow_log' is set
      if @api_client.config.client_side_validation && nat_gateway_flow_log.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_flow_log' when calling NATGatewaysApi.datacenters_natgateways_flowlogs_put"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_put, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_flowlogs_put, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/flowlogs/{flowLogId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s)).sub('{' + 'flowLogId' + '}', CGI.escape(flow_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nat_gateway_flow_log)

      # return_type
      return_type = opts[:debug_return_type] || 'FlowLog'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_flowlogs_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_flowlogs_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NAT Gateways
    # List all NAT Gateways within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGateways]
    def datacenters_natgateways_get(datacenter_id, opts = {})
      data, _status_code, _headers = datacenters_natgateways_get_with_http_info(datacenter_id, opts)
      data
    end

    # List NAT Gateways
    # List all NAT Gateways within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGateways, Integer, Hash)>] NatGateways data, response status code and response headers
    def datacenters_natgateways_get_with_http_info(datacenter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_get ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_get"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_get, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NatGateways'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially modify NAT Gateways
    # Update the properties of the specified NAT Gateway within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_properties [NatGatewayProperties] The properties of the NAT Gateway to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGateway]
    def datacenters_natgateways_patch(datacenter_id, nat_gateway_id, nat_gateway_properties, opts = {})
      data, _status_code, _headers = datacenters_natgateways_patch_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_properties, opts)
      data
    end

    # Partially modify NAT Gateways
    # Update the properties of the specified NAT Gateway within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_properties [NatGatewayProperties] The properties of the NAT Gateway to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGateway, Integer, Hash)>] NatGateway data, response status code and response headers
    def datacenters_natgateways_patch_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_patch ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_patch"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_patch"
      end
      # verify the required parameter 'nat_gateway_properties' is set
      if @api_client.config.client_side_validation && nat_gateway_properties.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_properties' when calling NATGatewaysApi.datacenters_natgateways_patch"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_patch, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_patch, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nat_gateway_properties)

      # return_type
      return_type = opts[:debug_return_type] || 'NatGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create NAT Gateways
    # Create a NAT Gateway within the data center.  This operation is restricted to contract owner, admin, and users with 'createInternetAccess' privileges.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway [NatGateway] The NAT Gateway to create.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGateway]
    def datacenters_natgateways_post(datacenter_id, nat_gateway, opts = {})
      data, _status_code, _headers = datacenters_natgateways_post_with_http_info(datacenter_id, nat_gateway, opts)
      data
    end

    # Create NAT Gateways
    # Create a NAT Gateway within the data center.  This operation is restricted to contract owner, admin, and users with &#39;createInternetAccess&#39; privileges.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway [NatGateway] The NAT Gateway to create.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGateway, Integer, Hash)>] NatGateway data, response status code and response headers
    def datacenters_natgateways_post_with_http_info(datacenter_id, nat_gateway, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_post ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_post"
      end
      # verify the required parameter 'nat_gateway' is set
      if @api_client.config.client_side_validation && nat_gateway.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway' when calling NATGatewaysApi.datacenters_natgateways_post"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_post, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_post, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nat_gateway)

      # return_type
      return_type = opts[:debug_return_type] || 'NatGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modify NAT Gateways
    # Modify the properties of the specified NAT Gateway within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway [NatGatewayPut] The modified NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGateway]
    def datacenters_natgateways_put(datacenter_id, nat_gateway_id, nat_gateway, opts = {})
      data, _status_code, _headers = datacenters_natgateways_put_with_http_info(datacenter_id, nat_gateway_id, nat_gateway, opts)
      data
    end

    # Modify NAT Gateways
    # Modify the properties of the specified NAT Gateway within the data center.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway [NatGatewayPut] The modified NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGateway, Integer, Hash)>] NatGateway data, response status code and response headers
    def datacenters_natgateways_put_with_http_info(datacenter_id, nat_gateway_id, nat_gateway, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_put ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_put"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_put"
      end
      # verify the required parameter 'nat_gateway' is set
      if @api_client.config.client_side_validation && nat_gateway.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway' when calling NATGatewaysApi.datacenters_natgateways_put"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_put, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_put, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nat_gateway)

      # return_type
      return_type = opts[:debug_return_type] || 'NatGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete NAT Gateway rules
    # Delete the specified NAT Gateway rule.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_rule_id [String] The unique ID of the NAT Gateway rule.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [nil]
    def datacenters_natgateways_rules_delete(datacenter_id, nat_gateway_id, nat_gateway_rule_id, opts = {})
      datacenters_natgateways_rules_delete_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_rule_id, opts)
      nil
    end

    # Delete NAT Gateway rules
    # Delete the specified NAT Gateway rule.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_rule_id [String] The unique ID of the NAT Gateway rule.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def datacenters_natgateways_rules_delete_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_rules_delete ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_rules_delete"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_rules_delete"
      end
      # verify the required parameter 'nat_gateway_rule_id' is set
      if @api_client.config.client_side_validation && nat_gateway_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_rule_id' when calling NATGatewaysApi.datacenters_natgateways_rules_delete"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_delete, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_delete, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/rules/{natGatewayRuleId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s)).sub('{' + 'natGatewayRuleId' + '}', CGI.escape(nat_gateway_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_rules_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_rules_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve NAT Gateway rules
    # Retrieve the properties of the specified NAT Gateway rule.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_rule_id [String] The unique ID of the NAT Gateway rule.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGatewayRule]
    def datacenters_natgateways_rules_find_by_nat_gateway_rule_id(datacenter_id, nat_gateway_id, nat_gateway_rule_id, opts = {})
      data, _status_code, _headers = datacenters_natgateways_rules_find_by_nat_gateway_rule_id_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_rule_id, opts)
      data
    end

    # Retrieve NAT Gateway rules
    # Retrieve the properties of the specified NAT Gateway rule.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_rule_id [String] The unique ID of the NAT Gateway rule.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGatewayRule, Integer, Hash)>] NatGatewayRule data, response status code and response headers
    def datacenters_natgateways_rules_find_by_nat_gateway_rule_id_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_rules_find_by_nat_gateway_rule_id ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_rules_find_by_nat_gateway_rule_id"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_rules_find_by_nat_gateway_rule_id"
      end
      # verify the required parameter 'nat_gateway_rule_id' is set
      if @api_client.config.client_side_validation && nat_gateway_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_rule_id' when calling NATGatewaysApi.datacenters_natgateways_rules_find_by_nat_gateway_rule_id"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_find_by_nat_gateway_rule_id, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_find_by_nat_gateway_rule_id, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/rules/{natGatewayRuleId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s)).sub('{' + 'natGatewayRuleId' + '}', CGI.escape(nat_gateway_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NatGatewayRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_rules_find_by_nat_gateway_rule_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_rules_find_by_nat_gateway_rule_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List NAT Gateway rules
    # List all rules for the specified NAT Gateway.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGatewayRules]
    def datacenters_natgateways_rules_get(datacenter_id, nat_gateway_id, opts = {})
      data, _status_code, _headers = datacenters_natgateways_rules_get_with_http_info(datacenter_id, nat_gateway_id, opts)
      data
    end

    # List NAT Gateway rules
    # List all rules for the specified NAT Gateway.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGatewayRules, Integer, Hash)>] NatGatewayRules data, response status code and response headers
    def datacenters_natgateways_rules_get_with_http_info(datacenter_id, nat_gateway_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_rules_get ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_rules_get"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_rules_get"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_get, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/rules'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NatGatewayRules'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_rules_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_rules_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially modify NAT Gateway rules
    # Update the properties of the specified NAT Gateway rule.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_rule_id [String] The unique ID of the NAT Gateway rule.
    # @param nat_gateway_rule_properties [NatGatewayRuleProperties] The properties of the NAT Gateway rule to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [NatGatewayRule]
    def datacenters_natgateways_rules_patch(datacenter_id, nat_gateway_id, nat_gateway_rule_id, nat_gateway_rule_properties, opts = {})
      data, _status_code, _headers = datacenters_natgateways_rules_patch_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_rule_id, nat_gateway_rule_properties, opts)
      data
    end

    # Partially modify NAT Gateway rules
    # Update the properties of the specified NAT Gateway rule.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_rule_id [String] The unique ID of the NAT Gateway rule.
    # @param nat_gateway_rule_properties [NatGatewayRuleProperties] The properties of the NAT Gateway rule to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines).
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on
    # @option opts [Integer] :x_contract_number Users with multiple contracts must provide the contract number, for which all API requests are to be executed.
    # @return [Array<(NatGatewayRule, Integer, Hash)>] NatGatewayRule data, response status code and response headers
    def datacenters_natgateways_rules_patch_with_http_info(datacenter_id, nat_gateway_id, nat_gateway_rule_id, nat_gateway_rule_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NATGatewaysApi.datacenters_natgateways_rules_patch ...'
      end
      # verify the required parameter 'datacenter_id' is set
      if @api_client.config.client_side_validation && datacenter_id.nil?
        fail ArgumentError, "Missing the required parameter 'datacenter_id' when calling NATGatewaysApi.datacenters_natgateways_rules_patch"
      end
      # verify the required parameter 'nat_gateway_id' is set
      if @api_client.config.client_side_validation && nat_gateway_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_id' when calling NATGatewaysApi.datacenters_natgateways_rules_patch"
      end
      # verify the required parameter 'nat_gateway_rule_id' is set
      if @api_client.config.client_side_validation && nat_gateway_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_rule_id' when calling NATGatewaysApi.datacenters_natgateways_rules_patch"
      end
      # verify the required parameter 'nat_gateway_rule_properties' is set
      if @api_client.config.client_side_validation && nat_gateway_rule_properties.nil?
        fail ArgumentError, "Missing the required parameter 'nat_gateway_rule_properties' when calling NATGatewaysApi.datacenters_natgateways_rules_patch"
      end
      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] > 10
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_patch, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'depth'].nil? && opts[:'depth'] < 0
        fail ArgumentError, 'invalid value for "opts[:"depth"]" when calling NATGatewaysApi.datacenters_natgateways_rules_patch, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/datacenters/{datacenterId}/natgateways/{natGatewayId}/rules/{natGatewayRuleId}'.sub('{' + 'datacenterId' + '}', CGI.escape(datacenter_id.to_s)).sub('{' + 'natGatewayId' + '}', CGI.escape(nat_gateway_id.to_s)).sub('{' + 'natGatewayRuleId' + '}', CGI.escape(nat_gateway_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pretty'] = opts[:'pretty'] if !opts[:'pretty'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Contract-Number'] = opts[:'x_contract_number'] if !opts[:'x_contract_number'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nat_gateway_rule_properties)

      # return_type
      return_type = opts[:debug_return_type] || 'NatGatewayRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic Authentication', 'Token Authentication']

      new_options = opts.merge(
        :operation => :"NATGatewaysApi.datacenters_natgateways_rules_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NATGatewaysApi#datacenters_natgateways_rules_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create NAT Gateway rules
    # Create a rule for the specified NAT Gateway.
    # @param datacenter_id [String] The unique ID of the data center.
    # @param nat_gateway_id [String] The unique ID of the NAT Gateway.
    # @param nat_gateway_rule [NatGatewayRule] The NAT Gateway rule to create.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :pretty Controls whether the response is pretty-printed (with indentations and new lines). (default to true)
    # @option opts [Integer] :depth Controls the detail depth of the response objects.  GET /datacenters/[ID]  - depth&#x3D;0: Only direct properties are included; children (servers and other elements) are not included.  - depth&#x3D;1: Direct properties and children references are included.  - depth&#x3D;2: Direct properties and children properties are included.  - depth&#x3D;3: Direct properties and children properties and children&#39;s children are included.  - depth&#x3D;... and so on (default to 0)
[...]
